# Entwicklungsumgebung Visual Studio Code
.pio
.vscode/.browse.c_cpp.db*
obj
Delphi/
doc/html

# projektspezifische Einstellungen
XPanino/.vscode/c_cpp_properties.json
XPanino/.vscode/launch.json
XPanino/.vscode/ipch

# Spezifische Dateien
.DS_Store
*.vpp.bak*
