# Entwicklungsumgebung Visual Studio Code
.pio
.vscode

# Von Doxygen generierte Dokumentation
doc
!doc/Doxyfile

# Spezifische Dateien
**/.DS_Store
*.vpp.bak_*

# Beispielcode
**/src/Beispiele

# X-Plane-SDK
XPIf/lib/XP-SDK*

# Nachfolgend die Angaben aus einem C++-gitignore-Template: https://github.com/github/gitignore
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app