# von Doxygen generierte Doku
doc/html

# Visual Studio Code Konfiguration
.vscode/

# Nachfolgend die Angaben aus einem C++-gitignore-Template: https://github.com/github/gitignore
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app